<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../Dashboard.css">
    <script src="./Admin.js"></script>
    <title>Projects</title>
</head>
<body>
    
    <main class="main-container">
        <section  class="project-section">
            <h2 class="pro">Users Projects</h2>
    
            <div class="Projects">
                <!-- Project 1 -->
                <div class="searchBar">
                    <input id="search" type="text" placeholder="Search Your Project By Name , Lang">
                    <i id="searchIcon" class="fa fa-search searchIcon"></i>    
                </div>
                <div id="p1" class="project">
                    <img src="../../" alt="">
                </div>
    
    
            </div>
    
            </div>
        </section>
    </main>
</body>
</html>