<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Open+Sans:wght@300&family=Poppins:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Dashboard</title>
</head>
<body>
  <main class="main-container">
    <header class="header">
        <div class="logo">
            <a href="/">Admin Dash<span>Board</span></a>
        </div>
        <div class="links">
            <ul>
                <li>
                    <a  href="./AdminSidePages/Users.html">Users</a>
                    <a href="./AdminSidePages/Projects.html">Projects</a>
                    
                </li>
            </ul>
        </div>
    </header>

    <section class="innerContainer">
        <div class="leftSection">
                <h1>Welcome To <mark class="mark"> Portfolio Admin</mark> Dashboard </h1>
                <p>A portfolio is one of the best ways to showcase your work and build your brand. So, don’t ignore its power to improve your credibility. You will learn how brands put their best to stand out in these best portfolio websites.</p>
        </div>

        <div class="rightSection">
                <img src="../AdminSide/Assets/admin.jpg" alt="Admin">
        </div>
    </section>
  </main> 
</body>
</html>